# Ignore everything by default
# Don't ever track local dependencies
node_modules/
.netlify/plugins/

# Allow these explicitly
!astro.config.mjs
!.gitignore
!README.md
!netlify.toml

# Also Allow everything inside the public directory & src directory for now...
!public/
!public/**/*
!src/
!src/**/*