# Ignore everything by default
*

# Allow these explicitly
!.gitignore
!README.md
!netlify.toml

# Also Allow everything inside the public directory & src directory for now...
!public/
!public/**/*
!src/
!src/**/*